In [6]:
import pyspark

In [13]:
from pyspark.sql import SparkSession

In [15]:
from pyspark.sql import Row

In [19]:
spark = SparkSession.builder.appName('SparkSQL').getOrCreate()  #CREATE RDD

In [84]:
rows = spark.sparkContext.textFile('ratings.csv')

In [129]:
baslik = rows.first()

In [130]:
baslik

'book_id,user_id,rating'

In [131]:
rows = rows.filter(lambda x: x!= baslik)

In [132]:
rows

PythonRDD[248] at RDD at PythonRDD.scala:53

In [133]:
def CSV_ROW(satir):
    item = satir.split(',')
    return Row(kitap_id=int(item[0]), kullanici_id=int(item[1]), derece=int(item[2]))

In [134]:
books = rows.map(CSV_ROW)

In [135]:
books

PythonRDD[249] at RDD at PythonRDD.scala:53

In [136]:
df = spark.createDataFrame(books).cache()

In [137]:
df.createOrReplaceTempView('kitaplar')

In [138]:
df.show(30)

+--------+------------+------+
|kitap_id|kullanici_id|derece|
+--------+------------+------+
|       1|         588|     5|
|       1|        1169|     4|
|       1|        1185|     4|
|       1|        2077|     4|
|       1|        2487|     4|
|       1|        2900|     5|
|       1|        3662|     4|
|       1|        3922|     5|
|       1|        5379|     5|
|       1|        5461|     3|
|       1|        5885|     5|
|       1|        6630|     5|
|       1|        7563|     3|
|       1|        9246|     1|
|       1|       10140|     4|
|       1|       10146|     5|
|       1|       10246|     4|
|       1|       10335|     4|
|       1|       10610|     5|
|       1|       10944|     5|
|       1|       11854|     4|
|       1|       11927|     4|
|       1|       12471|     5|
|       1|       13282|     5|
|       1|       13544|     5|
|       1|       15494|     5|
|       1|       16377|     4|
|       1|       16913|     5|
|       1|       17434|     5|
|       1|       17663|     5|
+--------+------------+------+
only showing top 30 rows

In [139]:
df2 = df.groupby('kitap_id').count().orderBy('count', ascending=False)

In [140]:
df2.filter(df2['count'] != 100).count()

2545

In [141]:
df.count()

981754

In [142]:
spark.sql('SELECT * from kitaplar WHERE derece>=4').groupby('kitap_id').count().orderBy('count', ascending=False).show()

+--------+-----+
|kitap_id|count|
+--------+-----+
|    2244|   98|
|    3628|   98|
|    1308|   97|
|    4483|   97|
|    1904|   97|
|    6642|   97|
|    9566|   97|
|    3660|   96|
|    3275|   96|
|    3395|   96|
|    5580|   96|
|    6527|   96|
|    6920|   96|
|    5207|   96|
|    6361|   95|
|    9141|   95|
|    7883|   95|
|    3885|   95|
|    1788|   95|
|    1380|   95|
+--------+-----+
only showing top 20 rows

In [143]:
spark.sql('SELECT * from kitaplar where derece <=2').groupby('kitap_id').count().orderBy('count', ascending=False).show()

+--------+-----+
|kitap_id|count|
+--------+-----+
|    1793|   70|
|    1822|   55|
|    4045|   52|
|    1409|   51|
|    3550|   51|
|    4283|   51|
|    4009|   48|
|    4282|   48|
|      96|   47|
|    4399|   47|
|    8874|   46|
|      34|   45|
|    8166|   45|
|    8466|   45|
|    7450|   45|
|     303|   44|
|    9021|   43|
|    2749|   41|
|     875|   40|
|    9523|   40|
+--------+-----+
only showing top 20 rows

In [144]:
df.groupby('kitap_id').sum('derece').orderBy('sum(derece)', ascending=False).show()

+--------+-----------+
|kitap_id|sum(derece)|
+--------+-----------+
|    6920|        478|
|    5207|        478|
|    3275|        477|
|    6361|        477|
|    4483|        475|
|    5580|        475|
|    6590|        475|
|    1308|        474|
|    3628|        473|
|    8978|        473|
|    9566|        473|
|    3753|        472|
|    8109|        471|
|    1788|        470|
|    9141|        469|
|    2244|        468|
|     862|        468|
|    4868|        467|
|    4708|        466|
|    7254|        466|
+--------+-----------+
only showing top 20 rows